In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager 
import pandas as pd
from selenium.webdriver.common.by import By

In [2]:
url = 'https://tradingeconomics.com/country-list/rating'

In [3]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get(url)

C:\Users\axell\AppData\Local\Temp\ipykernel_2188\2183069208.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

In [4]:
SnP =  [e.text for e in driver.find_elements(By.XPATH, '//td[@align="left"]')]

In [5]:
Name = SnP[::3]

In [6]:
RatingSnP = SnP[1::3]

In [7]:
TE = SnP[2::3]

In [17]:
ratings = pd.DataFrame(Name)
ratings['Rating_S&P'] = RatingSnP
ratings['Trading_Economics'] = TE
ratings['id_Name'] = [e for e in range (len ( TE))]

In [43]:
IMF = pd.read_csv('Data\IMF_DF.csv')

In [56]:
ratings.columns = ['Name', 'Rating_S&P', 'Trading_Economics','id_Rating']

In [45]:
df = IMF.merge(ratings[['Name','id_Rating']], on='Name', how='left')

In [46]:
index = df[df['id_Rating'].isnull()==True].index

In [47]:
nr = df.Name.iloc[index].unique()

In [48]:
for e in nr:
    Name.append(e)
ratings = pd.DataFrame(Name)

In [49]:
RatingSnP = RatingSnP + ['nr' for e in range(len(RatingSnP), len(Name))]
ratings['Rating_S&P'] = RatingSnP

In [50]:
TE = TE + ['nr' for e in range(len(TE), len(Name))]
ratings['Trading_Economics'] = TE

In [57]:
ratings['id_Rating'] = [e for e in range (len ( Name))]

In [52]:
IMF = IMF.iloc[:,2:-1]

In [58]:
ratings

                                 Name Rating_S&P Trading_Economics  id_Rating
0                             Albania         B+                35          0
1                             Andorra       BBB+                63          1
2                              Angola         B-                25          2
3                           Argentina       CCC+                15          3
4                             Armenia         B+                14          4
..                                ...        ...               ...        ...
177                           Somalia         nr                nr        177
178                       Saint Lucia         nr                nr        178
179  Saint Vincent and the Grenadines         nr                nr        179
180                             Sudan         nr                nr        180
181                          Zimbabwe         nr                nr        181

[182 rows x 4 columns]

In [61]:
df = IMF.merge(ratings[['Name','id_Rating']], on='Name', how='right')

In [68]:
index = df[df.id_Name.isnull() == True].index

In [70]:
df.drop(index, inplace = True )

In [71]:
df.reset_index(drop = True, inplace = True)

In [74]:
df.to_csv('Data\Final_IMF.csv')

In [75]:
ratings.to_csv('Data\Ratings.csv')