**Adding Data**

***Objective: add the % of debt in USD for each country.***
- Step 1. Collect the data from https://en.wikipedia.org/wiki/List_of_countries_by_external_debt
- Step 2. Clean the data and export it to a DataFrame
- Step 3. Link the Data to the IMF countries DataFrame.

In [1]:
import requests as req

from bs4 import BeautifulSoup as bs

In [2]:
url='https://en.wikipedia.org/wiki/List_of_countries_by_external_debt'

In [3]:
html=req.get(url).content   # o .text

soup=bs(html, 'html.parser')

In [4]:
table = soup.find_all('table')[0]

In [5]:
raws = table.find_all('tr')

In [6]:
raws = [e.text.strip().split('\n') for e in raws]

In [7]:
raws_final = [[e for e in f if e!=''] for f in raws]

raws_final[:5]

[['Country/Region',
  'External debtUS dollars ',
  'Date',
  'Per capitaUS dollars',
  '% of GDP'],
 ['United States', '31\xa0trillion', 'January 2023[1]', '94,188', '121.08'],
 ['United Kingdom', '8.73\xa0trillion', 'June 2022[1]', '129,203', '273.06'],
 ['France', '7.04\xa0trillion', 'June 2022[1]', '107,245', '253.35'],
 ['Germany', '6.46\xa0trillion', 'June 2022[1]', '77,607', '160.35']]

In [8]:
import pandas as pd


col_names = raws[0]

items = raws[1:]


df = pd.DataFrame(items)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       209 non-null    object
 1   1       209 non-null    object
 2   2       209 non-null    object
 3   3       209 non-null    object
 4   4       209 non-null    object
 5   5       1 non-null      object
 6   6       1 non-null      object
dtypes: object(7)
memory usage: 11.6+ KB

In [10]:
# I have one line which did not worked. I will delete the line and add the corrected one in the bottom.

drop = df[df[5].isnull()== False].index

In [11]:
df.drop(drop, axis = 0, inplace = True)

In [12]:
df.drop(df.iloc[:,5:], axis = 1, inplace = True)

In [13]:
df.reset_index(inplace = True, drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       208 non-null    object
 1   1       208 non-null    object
 2   2       208 non-null    object
 3   3       208 non-null    object
 4   4       208 non-null    object
dtypes: object(5)
memory usage: 8.2+ KB

In [14]:
df.head()

                0              1                2        3       4
0   United States    31 trillion  January 2023[1]   94,188  121.08
1  United Kingdom  8.73 trillion     June 2022[1]  129,203  273.06
2          France  7.04 trillion     June 2022[1]  107,245  253.35
3         Germany  6.46 trillion     June 2022[1]   77,607  160.35
4           Japan  4.36 trillion     June 2022[1]   34,841  101.41

In [15]:
df.columns = ['Name','External_Debt_USD','Date','Per_capita_USD','%ofGDP']

In [16]:
df.head()

             Name External_Debt_USD             Date Per_capita_USD  %ofGDP
0   United States       31 trillion  January 2023[1]         94,188  121.08
1  United Kingdom     8.73 trillion     June 2022[1]        129,203  273.06
2          France     7.04 trillion     June 2022[1]        107,245  253.35
3         Germany     6.46 trillion     June 2022[1]         77,607  160.35
4           Japan     4.36 trillion     June 2022[1]         34,841  101.41

In [17]:
list_row = ["San Marino", '352 million', 2016, '10,604', 23.00]
df.loc[len(df)] = list_row

***Step 1 and 2 are completed. Now let's join the Datasets.***

In [18]:
df['id_Name'] = [e for e in range(len(df))]

In [19]:
# Create a dictionarry with an ID for each name
ids = df.Name.to_dict()

In [20]:
IMFDF = pd.read_csv('Data\Scrach Data\IMFDF.csv')

In [21]:
#IMF_Names = list(set(IMFDF.Name))

In [22]:
#df_Names = list(df.Name)

In [23]:
'''for e in IMF_Names:
    if e in ids.values():
        print(ids.keys())'''

'for e in IMF_Names:\n    if e in ids.values():\n        print(ids.keys())'

In [24]:
'''lst_ids=[]

for k,v in ids.items():
    
    for country in IMF_Names:
        
        if country==v:
            lst_ids.append(k)
    
    '''

'lst_ids=[]\n\nfor k,v in ids.items():\n    \n    for country in IMF_Names:\n        \n        if country==v:\n            lst_ids.append(k)\n    \n    '

In [25]:
#IMF_ID = dict(zip(lst_ids, IMF_Names))

In [26]:
#pd.DataFrame(IMF_ID.values(), index = IMF_ID.keys())

In [27]:
#df.join(IMFDF, on='Name', how='left', sort=False)
#IMFDF = IMFDF.merge(df[['Name','id_Name']], on='Name', how='left', indicator=True)

In [28]:
#nul_indexes = IMFDF.Name[IMFDF.id_Name.isnull()].index

In [29]:
#unknowns = set(list(IMFDF.iloc[nul_indexes]['Name']))

In [30]:
'''unknowns = {'Cabo Verde': 155,
 'Congo, Dem. Rep.' : 126,
 'Congo, Rep.': 129 ,
 "Cote d'Ivoire": 107,
 'Gambia, The' : 177 ,
 'Russian Federation': 20 ,
 'St. Lucia' : 178,
 'St. Vincent and the Grenadines' : 185,
 'Turkiye' : 21 }'''

'unknowns = {\'Cabo Verde\': 155,\n \'Congo, Dem. Rep.\' : 126,\n \'Congo, Rep.\': 129 ,\n "Cote d\'Ivoire": 107,\n \'Gambia, The\' : 177 ,\n \'Russian Federation\': 20 ,\n \'St. Lucia\' : 178,\n \'St. Vincent and the Grenadines\' : 185,\n \'Turkiye\' : 21 }'

In [31]:
#IMFDF ['id_Name'] =  [None if pd.isna(x) else x for x in list(IMFDF.id_Name)]

In [32]:
#ids[185]

In [33]:
fix_typo = {'Turkiye': 'Turkey',
            'Cabo Verde': 'Cape Verde',
             'Congo, Dem. Rep.' : 'Democratic Republic of the Congo',
             'Congo, Rep.': 'Republic of the Congo' ,
             "Cote d'Ivoire": 'Ivory Coast',
             'Gambia, The' : 'Gambia' ,
             'Russian Federation': 'Russia' ,
             'St. Lucia' : 'Saint Lucia',
             'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines',
           }

In [34]:
IMFDF.Name = IMFDF.Name.apply(lambda x: fix_typo.get(x, x))

In [35]:
IMFDF = IMFDF.merge(df[['Name','id_Name']], on='Name', how='left', indicator=True)

In [36]:
IMFDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3120 entries, 0 to 3119
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3120 non-null   int64
 1   Name        3120 non-null   object
 2   NCode       3120 non-null   object
 3   Series      3120 non-null   object
 4   SCode       3120 non-null   object
 5   1972        3120 non-null   object
 6   1973        3120 non-null   object
 7   1974        3120 non-null   object
 8   1975        3120 non-null   object
 9   1976        3120 non-null   object
 10  1977        3120 non-null   object
 11  1978        3120 non-null   object
 12  1979        3120 non-null   object
 13  1980        3120 non-null   object
 14  1981        3120 non-null   object
 15  1982        3120 non-null   object
 16  1983        3120 non-null   object
 17  1984        3120 non-null   object
 18  1985        3120 non-null   object
 19  1986        3120 non-null   object
 20  1987        3120 non-null   object
 21  1988        3120 non-null   object
 22  1989        3120 non-null   object
 23  1990        3120 non-null   object
 24  1991        3120 non-null   object
 25  1992        3120 non-null   object
 26  1993        3120 non-null   object
 27  1994        3120 non-null   object
 28  1995        3120 non-null   object
 29  1996        3120 non-null   object
 30  1997        3120 non-null   object
 31  1998        3120 non-null   object
 32  1999        3120 non-null   object
 33  2000        3120 non-null   object
 34  2001        3120 non-null   object
 35  2002        3120 non-null   object
 36  2003        3120 non-null   object
 37  2004        3120 non-null   object
 38  2005        3120 non-null   object
 39  2006        3120 non-null   object
 40  2007        3120 non-null   object
 41  2008        3120 non-null   object
 42  2009        3120 non-null   object
 43  2010        3120 non-null   object
 44  2011        3120 non-null   object
 45  2012        3120 non-null   object
 46  2013        3120 non-null   object
 47  2014        3120 non-null   object
 48  2015        3120 non-null   object
 49  2016        3120 non-null   object
 50  2017        3120 non-null   object
 51  2018        3120 non-null   object
 52  2019        3120 non-null   object
 53  2020        3120 non-null   object
 54  2021        3120 non-null   object
 55  id_Name     3120 non-null   int64
 56  _merge      3120 non-null   category
dtypes: category(1), int64(2), object(54)
memory usage: 1.4+ MB

In [37]:
IMFDF.to_csv('Data\Scrach Data\IMF_DF.csv')

In [38]:
df.to_csv('Data\Final Data\%debt.csv')

In [39]:
#Removing lines not linked from debt

,Name,External_Debt_USD,Date,Per_capita_USD,%ofGDP,id_Name,_merge
1992,Somalia,3.05 billion,31 December 2013 est.[131],270.00,52.00,140,both
128,Brazil,556 billion,30 September 2017[13],"3,200",38.00,17,both
2269,Chad,1.88 billion,31 December 2016 est.[143],130.00,18.00,152,both
979,Ghana,21.2 billion,31 December 2016 est.[81],700.00,30.00,86,both
1851,Mali,3.63 billion,31 December 2016 est.[126],200.00,26.00,135,both
1733,Republic of the Congo,4.82 billion,31 December 2016 est.[120],"1,000",55.00,129,both
2874,Central African Republic,687 million,31 December 2016 est.[164],130.00,39.00,175,both
779,Dominican Republic,26.1 billion,31 December 2016 est.[72],"2,400",36.00,77,both
3227,Comoros,133 million,31 December 2016 est.[183],160.00,21.00,193,both
139,Russia,489 billion,1 September 2021[16],"3,700",32.00,20,both
3063,Eswatini,471 million,31 December 2016 est.[170],360.00,14.00,181,both
2461,Belize,1.33 billion,31 December 2016 est.[148],"3,500",75.00,160,both
13,China,2.64 trillion,June 2022[1],"1,866",14.39,5,both
2147,Bhutan,2.26 billion,31 December 2016 est.[139],"2,900",108.00,148,both
2439,Guinea,1.33 billion,31 December 2016 est.[134],100.00,20.00,159,both
2319,Botswana,1.69 billion,31 March 2017[144],720.00,8.00,153,both
2131,Benin,2.34 billion,31 December 2016 est.[137],200.00,26.00,146,both
984,Bahrain,21.2 billion,31 December 2016 est.[82],"14,900",66.00,87,both
2709,Lesotho,949 million,31 December 2016 est.[157],430.00,53.00,168,both
336,Argentina,273 billion,31 September 2020[24],"6,037",72.00,28,both
2896,Central African Republic,687 million,31 December 2016 est.[164],130.00,39.00,175,both
2431,Guinea,1.33 billion,31 December 2016 est.[134],100.00,20.00,159,both
1285,Zimbabwe,10.9 billion,31 December 2016 est.[98],670.00,77.00,104,both
2612,Guyana,1.14 billion,31 December 2015[153],"1,500",36.00,164,both
818,Dominican Republic,26.1 billion,31 December 2016 est.[72],"2,400",36.00,77,both
17,China,2.64 trillion,June 2022[1],"1,866",14.39,5,both
3007,Saint Lucia,513 million,31 December 2016 est.[167],"2,700",36.00,178,both
3004,Saint Lucia,513 million,31 December 2016 est.[167],"2,700",36.00,178,both
1750,Republic of the Congo,4.82 billion,31 December 2016 est.[120],"1,000",55.00,129,both
864,Ethiopia,22.5 billion,31 December 2016 est.[77],220.00,32.00,82,both